@model IEnumerable<WebMvc.Models.EntryViewModel>
@{
    ViewData["Title"] = "Entry List";
}
<h2>Entry List</h2>
<a asp-action="FilterReports">Search again</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StopId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoopId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boarded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeftBehind)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StopId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoopId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Boarded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeftBehind)
                </td>
            </tr>
        }
    </tbody>
</table>

<button type="button" class="btn btn-primary" id="download">Download report</button>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script>
    function getCSV() {
        
        let csv_data = [];
        var rows = document.getElementsByTagName('tr');

        for (let i = 0; i < rows.length; i++) {
            let cols = rows[i].querySelectorAll('td,th');
            let csvrow = [];

            for (let j = 0; j < cols.length ; j++) {
                csvrow.push(cols[j].textContent.trim());
            }

            let rowData = csvrow.join(",");
            csv_data.push(rowData);
        }

            console.log(csv_data)
            csv_data = csv_data.join('\n');
            downloadFile(csv_data);
    }

    function downloadFile(csv_data) {
        CSVFile = new Blob([csv_data], { type: "text/csv" });

        let temp_link = document.createElement('a');

        temp_link.download = "Report.csv";
        let url = window.URL.createObjectURL(CSVFile);
        temp_link.href = url;

        temp_link.style.display = "none";

        document.body.appendChild(temp_link);

        temp_link.click();
        document.body.removeChild(temp_link);
    }

    $("#download").click(function () {
        getCSV();
    });
    
</script>
}
